.nav {
    position: fixed;
    bottom: 0;
    height: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    font-size: .2rem;
    justify-content: space-around;
    padding-top: .3rem;
    color: #999999;
    width: 100%;
    background-color: #D8D8D8;
    div {
        flex:1;
        text-align: center;
    }
    span {
        display: block;
        line-height: .5rem;
        flex-grow: 2;
    }
    .click_color {
        color: orange;
    }
}   
